.productos {
    width: auto;
    padding: 1em;
    background-color: var(--color-gris-claro);
    font-family: var(--font-raleway);
}

.productos__titulo {
    font-weight: bold;
    font-size: 1.375em;
}

.productos__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
}

.productos__btn {
    display: flex;
    border: none;
    color: var(--color-azul-oscuro);
    background-color: var(--color-gris-claro);
    font-weight: bold;
    justify-content: right;
    align-items: center;
    font-size: 0.875em;
    cursor: pointer;
}

.bi.bi-arrow-right-short {
    width: 1em;
    height: 1em;
    font-size: 2em;
}

.productos__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.productos__button {
    font-size: 1em;
    background-color: var(--color-azul-oscuro);
    border: none;
    padding: 1em;
    color: var(--color-blanco);
    height: 50%;
    cursor: pointer;
}

.productos__nuevos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: auto;
    line-height: 1.7em;
}

.producto__imagen {
    width: 100%;
}

.producto__titulo {
    font-size: 0.875em;
}

.producto__precio {
    font-weight: bold;
}

.producto__ver {
    color: var(--color-azul-oscuro);
    font-weight: bold;
}

@media screen and (min-width: 44em) {
    .productos__btn {
        font-size: 1em;
    }

    .productos__nuevos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 64em) {
    .productos__titulo {
        padding: 0.5em 0 1em 2em;
    }
}